/* ===== layout ===== */
.about__container {
  margin-bottom: -17rem;
}

.about__container,
.info__list,
.resume__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
}

/* ===== Info ===== */
.info__list {
  margin-bottom: 1.5rem;
  padding: 2.5rem 0;
}

.info__item {
  line-height: 35px;
  display: flex;
  flex-direction: column;
}

.info__list .info__title,
.info__list .info__description {
  font-size: var(--large-font-size);
}

.info__list .info__description {
  color: var(--title-color);
  font-weight: var(--weight-600);
}

.about__info .button {
  left: 250px;
}

.about__me-pictures {
  width: 100%;
  height: 60%;
  margin-bottom: -1.5rem;
}

.about__me-picture {
  padding: 1.5rem 1.5rem 4.5rem;
}

.about__me-photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* ===== Resume ===== */
.resume__data {
  background-color: var(--container-color);
  padding: 1.875rem;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 5px 20px 0px rgb(29 27 56 / 20%);
}

.resume__item {
  position: relative;
  padding-left: 60px;
}

.resume__item:not(:last-child) {
  margin-bottom: 50px;
}

.resume__item::before {
  content: '';
  position: absolute;
  inset-block: 0;
  left: 20px;
  border-left: 1px solid var(--border-color);
}

.resume__icon {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--first-color);
  color: var(--text-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.resume__date {
  background-color: var(--container-color);
  padding: 2px 10px;
  border-radius: 20px;
  font-size: var(--tiny-font-size);
  font-weight: var(--weight-600);
}

.resume__subtitle {
  font-size: var(--large-font-size);
  font-weight: var(--weight-500);
  margin-block: 20px 10px;
}

.resume__subtitle span {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-600);
  position: relative;
  padding-left: 26px;
}

.resume__subtitle span::before {
  content: '';
  position: absolute;
  left: 7px;
  top: 9px;
  width: 10px;
  height: 2px;
  background-color: var(--text-color);
}

.resume__description {
  font-size: var(--smaller-font-size);
  line-height: 1.6;
}

/* ===== char ===== */
.char__container {
  grid-template-columns: repeat(2, 1fr);
}

.char__heading {
  text-align: center;
  font-size: var(--h3-font-size);
  color: var(--first-color);
  padding-bottom: 30px;
}

.char__heading,
.char__item {
  border-bottom: 2px solid var(--border-color);
}

.char__item:not(:first-child) {
  border-right: 2px solid var(--border-color);
}

.char__item {
  position: relative;
  cursor: pointer;
}

.char__header {
  padding: 32px 30px;
}

.char__title {
  font-size: var(--h3-font-size);
}

.char__icon {
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  color: var(--first-color);
  font-size: var(--h2-font-size);
  box-shadow: 0px 5px 20px 0px rgb(29 27 56 / 70%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  line-height: 1.3em;
  text-align: center;
  position: absolute;
  right: -24px;
  bottom: -24px;
  z-index: 10;
  transition: all 1.2s cubic-bezier(0.3, 0, 0.3, 1);
  cursor: pointer;
}

.char__content {
  padding-inline: 30px 50px;
  max-height: 0;
  overflow: hidden;
  transition: all 1s ease 0s;
}

.show-content {
  max-height: 500px;
}

.char__data-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.char__subtitle {
  font-family: var(--second-font);
  font-size: var(--large-font-size);
}

.char__description {
  margin-block: 20px 30px;
}

/* ===== Swiper Class ===== */
.swiper-pagination-bullet {
  border: 5px solid var(--text-color) !important;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet-active {
  transform: scale(1.3);
  border: 5px solid var(--first-color) !important;
}