/* filter */
.portfolio__list {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  margin-bottom: 60px;
}

.portfolio__list-item {
  color: var(--title-color);
  font-size: var(--h3-font-size);
  font-weight: var(--weight-700);
  position: relative;
  transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
  cursor: pointer;
}

.portfolio__list-item::before {
  content: '';
  width: 40px;
  height: 2px;
  max-width: 60%;
  background-color: var(--first-color);
  position: absolute;
  bottom: -12px;
  left: 0;
  transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
}

.active-work {
  color: var(--first-color);
}

.active-work::before,
.portfolio__list-item:hover::before {
  width: 40px;
}

/* portfolio item */
.portfolio__container {
  grid-template-columns: repeat(2, 1fr);
}

.portfolio__items {
  border: 1px solid var(--first-color);
  width: 500px;
  height: 400px;
  cursor: pointer;
  box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 30%);
}

.portfolio__hover {
  background-color: var(--first-color);
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  opacity: 0;
  transform: all 0.5s ease;
}

.portfolio__items:hover .portfolio__hover {
  opacity: 1;
  z-index: 10;
}

.portfolio__info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.portfolio__type {
  color: var(--text-color);
  font-size: var(--h3-font-size);
}

.portfolio__title {
  color: var(--text-white);
  font-size: var(--h2-font-size);
  font-weight: var(--weight-500);
  transform: translateY(-20px);
  transition: all 0.5s ease;
}

.portfolio__items:hover .portfolio__title {
  transform: translateY(0);
}

.portfolio__img-wrapper {
  border-radius: 18px;
  overflow: hidden;
}

.portfolio__category {
  color: var(--first-color);
  font-size: var(--large-font-size);
  font-weight: var(--weight-700);
  margin-bottom: 5px;
  display: flex;
  justify-content: end;
}

.portfolio__img {
  height: 220px;
  width: 100%;
  vertical-align: middle;
  transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
}

.portfolio__items:hover .portfolio__img {
  transform: scale(1.04);
}

.portfolio__content {
  margin: 1rem 0;
  font-size: var(--large-font-size);
  font-weight: var(--weight-700);
}

/* modal
.portfolio__modal {
  position: fixed;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.2);
  z-index: 100;
  display: grid;
  place-items: center;
  padding: 15px;
}

.portfolio__modal-content {
  background-color: var(--container-color);
  max-width: 650px;
  width: 100%;
  padding: 32px;
  border-radius: 10px;
  position: relative;
}

.modal__close {
  position: absolute;
  top: -3.5%;
  right: -8.5%;
  width: 50px;
  height: 50px;
  filter: invert(0.8);
}

.modal__title {
  text-align: center;
  color: var(--first-color);
  font-size: var(--h2-font-size);
  letter-spacing: 4px;
  margin-bottom: 24px;
}

.modal__list {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px !important;
  margin-bottom: 24px;
}

.modal__item {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.item__icon {
  display: flex;
}

.item__title,
.item__details {
  color: var(--title-color);
  font-size: var(--medium-font-size);
}

.item__details {
  font-weight: var(--weight-600);
}

.modal__img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
*/

/* study */
.blog__container {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.875rem;
}

.blog__card {
  box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 30%);
  border-radius: 20px;
  overflow: hidden;
}

.blog__card:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
}

.blog__thumb {
  position: relative;
  overflow: hidden;
}

.blog__img {
  transform: scale(1);
  transition: 0.3s;
  width: 100%;
  height: 220px;
  background-color: var(--container-color);
}

.blog__thumb:hover .blog__img {
  transform: scale(1.1);
}

.blog__category {
  color: #fff;
  background-color: var(--first-color);
  border-bottom-left-radius: 0.9375rem;
  border-bottom-right-radius: 0.9375rem;
  position: absolute;
  top: 0;
  left: 1.25rem;
  font-size: var(--large-font-size);
  display: inline-block;
  padding: 0.125rem 0.5rem;
  transition: 0.3s;
  z-index: 1;
}

.blog__details {
  padding: 1.25rem;
}

.blog__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

.blog__meta {
  display: flex;
  column-gap: 0.6rem;
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.blog__dot {
  font-weight: var(--weight-600);
  color: var(--first-color);
}

/* ===== Skills ===== */
.skills__container {
  border-radius: 20px;
  box-shadow: 0px 5px 20px 0px rgb(29 27 56 / 20%);
  padding: 20px;
}

.skills__logo {
  width: 140px;
  height: 140px;
}

.skills__ability {
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  row-gap: 48px;
}

.skills__ability-box:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: var(--first-color);
  transition: 0.3s ease-in;
}

.skills__title {
  font-size: var(--large-font-size);
  font-weight: var(--weight-600);
  display: flex;
  margin-top: 10px;
}

.skills__description {
  border-top: 1px solid var(--border-color);
  color: var(--text-color);
  font-size: var(--normal-font-size);
  padding: 15px 5px 5px;
}

.skills__content {
  display: none;
}

.skills__content-active {
  display: flex;
  border-top: 1px solid var(--border-color);
  height: 500px;
  overflow: hidden
}

.skills__table {
  display: flex;
  padding: 20px;
  width: 20%;
  border-right: 1px dotted var(--border-color);
}

.skills__know-title {
  width: 100%;
  color: var(--text-color);
  font-size: var(--large-font-size);
  line-height: 35px;
  font-weight:  var(--weight-600);
  overflow-y: scroll;
}

.skills__study {
  width: 35%;
}

.skills__card {
  padding: 1.5rem 2.5rem 4.5rem;
  background-color: var(-text-color);
}

.skills__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.skills__book {
  padding-bottom: 10px;
  font-size: var(--large-font-size);
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .portfolio__items {
    width: 400px;
    height: 330px;
  }

  .portfolio__img {
    height: 180px;
  }
  
  .portfolio__content {
    margin: 0.5rem 0;
  }
}

@media screen and (max-width: 1024px) {
  .portfolio__items {
    width: 350px;
    height: 300px;
  }
  
  .portfolio__content {
    margin: 0.1rem 0;
  }

  .blog__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .portfolio__items {
    width: 250px;
    height: 240px;
  }
  
  .portfolio__img {
    height: 130px;
  }
  
  .portfolio__content {
    margin: 0;
    font-size: var(--medium-font-size);
  }

  .blog__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .portfolio__list .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
  }
  
  .portfolio__container {
    grid-template-columns: 1fr;
  }
  
  .portfolio__items {
    width: 400px;
    height: 350px;
  }
  
  .portfolio__img {
    height: 220px;
  }
}

@media screen and (max-width: 450px) {
  .portfolio__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    row-gap: 25px;
  }

  .portfolio__list-item::before {
    position: absolute;
    width: 30px;
    bottom: -8px;
    left: 60px;
    transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
  }
    
  .active-work::before,
  .portfolio__list-item:hover::before {
    width: 60px;
  }
  
  .portfolio__items {
    width: 350px;
    height: 300px;
  }
  
  .portfolio__img {
    height: 180px;
  }

  .blog__container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 350px) {
  .portfolio__items {
    width: 250px;
    height: 250px;
  }
  
  .portfolio__img {
    height: 200px;
  }
  
  .portfolio__content {
    display: none;
  }
}
