.contact__container {
  grid-template-columns: 5fr 7fr;
}

.contact__card {
  padding-left: 130px;
  margin-bottom: 40px;
  position: relative;
}

.contact__card-icon,
.contact__form-input {
  border: 2px solid var(--border-color);
  background-color: var(--container-color);
}

.contact__card-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: var(--first-color);
  color: var(--text-white);
  box-shadow: 5px 5px rgb(0 0 0 / 20%);
  font-size: var(--h3-font-size);
  display: grid;
  place-items: center;
}

.contact__card-icon::after {
  content: '';
  width: 40px;
  height: 2px;
  background-color: var(--border-color);
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -1px;
}

.contact__card-title {
  font-size: var(--h3-font-size);
  font-family: var(--second-font);
  padding-block: 6px;
}

.contact__form-group {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.contact__form-div {
  display: grid;
  row-gap: 10px;
  margin-bottom: 30px;
}

.contact__form-tag {
  margin-left: 30px;
  font-size: var(--h3-font-size);
  font-weight: var(--weight-700);
}

.contact__form-tag b {
  color: var(--first-color);
}

.contact__form-input {
  color: var(--title-color);
  height: 60px;
  border-radius: 30px;
  padding-inline: 30px;
}

.contact__form-area .contact__form-input {
  height: 140px;
  padding-block: 20px;
  resize: none;
}

.contact__submit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 30px;
}

.contact__btn {
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(weight-700);
  height: 56px;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 1;
  border: 2px solid var(--border-color);
  padding-inline: 40px;
  border-radius: 56px;
  box-shadow: 5px 5px rgb(0 0 0 / 20%);
  cursor: pointer;
}

.contact__btn:hover {
  color: var(--text-white);
}

.contact__btn::before {
  content: '';
  position: absolute;
  inset: 2px;
  background-color: var(--first-color);
  border-radius: inherit;
  transform: scale(0.3);
  filter: blur(10px);
  opacity: 0;
  transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
  z-index: -1;
}

.contact__btn:hover::before {
  transform: scale(1);
  filter: blur(0);
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .contact__container {
    grid-template-columns: 1fr;
    margin: 0 2rem;
  }

  .contact__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .contact__card {
    padding-left: 90px;
    margin-right: 3rem;
  }

  .contact__from {
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .contact__card {
    padding-left: 60px;
    margin-bottom: 25px;
    margin-right: 0rem;
  }
  
  .contact__card-icon {
    width: 40px;
    height: 40px;
  }
  
  .contact__card-icon::after {
    width: 15px;
  }

  .contact__form-div {
    row-gap: 7px;
    margin-bottom: 25px;
  }
  
  .contact__form-input {
    height: 45px;
    border-radius: 30px;
    padding-inline: 10px;
  }
  
  .contact__form-area .contact__form-input {
    height: 140px;
    padding-block: 10px;
    resize: none;
  }
    
  .contact__btn {
    height: 45px;
  }
}

@media screen and (max-width: 576px) {
  .contact__content {
    grid-template-columns: 1fr;
  }

  .contact__form-group {
    grid-template-columns: 1fr;
  }

  .contact__form-div {
    row-gap: 4px;
    margin-bottom: 15px;
  }
  
  .contact__form-input {
    height: 35px;
    border-radius: 30px;
    padding-inline: 7px;
  }
  
  .contact__form-area .contact__form-input {
    height: 100px;
  }
    
  .contact__btn {
    height: 40px;
  }
}

@media screen and (max-width: 350px) {
  .contact__content {
    grid-template-columns: 1fr;
  }
  
  .contact__card {
    padding-left: 50px;
    margin-bottom: 20px;
  }
  
  .contact__card-icon {
    width: 30px;
    height: 30px;
    font-size: var(--medium-font-size);
  }
  
  .contact__card-icon::after {
    width: 15px;
  }

  .contact__form-div {
    row-gap: 2px;
    margin-bottom: 10px;
  }
  
  .contact__form-input {
    height: 25px;
    padding-inline: 4px;
  }
  
  .contact__form-area .contact__form-input {
    height: 80px;
  }
    
  .contact__btn {
    height: 35px;
  }
}